POSTGRES_DB=orvolt
POSTGRES_USER=orvolt
POSTGRES_PASSWORD=orvolt_dev_only
POSTGRES_DSN=postgres://orvolt:orvolt_dev_only@postgres:5432/orvolt?sslmode=disable
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=orvolt/simulators/evse/telemetry
NATS_URL=nats://nats:4222
NATS_SUBJECT=orvolt.telemetry.evse.v1
ENERGY_NATS_SUBJECT=orvolt.energy.site.v1
EDGE_ID=edge-dev-001
SITE_ID=site-dev-001
HTTP_ADDR=:8080
